%button-styling {
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  > img {
    height: 1.5rem;
  }
  > span {
    margin-left: 1rem;
  }
  @media screen and (max-width: 450px) {
    span {
      display: none;
    }
  }
}

.basic-button {
  @extend %button-styling;
}

.primary-button-1 {
  @extend %button-styling;
  color: var(--textColor1);
  border: 3px solid var(--primaryColor1);
  background-color: var(--transparent);
}

.primary-button-1.active {
  background-color: var(--primaryColor1);
  color: #fff;
}

.primary-button-2 {
  @extend %button-styling;
  color: var(--textColor1);
  border: 3px solid var(--primaryColor2);
  background-color: var(--transparent);
}

.primary-button-2.active {
  background-color: var(--primaryColor2);
  color: #fff;
}
