%button-styling {
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  > img {
    height: 1.5rem;
  }
  > span {
    margin-left: 1rem;
  }

  @media screen and (max-width: 450px) {
    span {
      display: none;
    }
  }
}

.basic-button {
  @extend %button-styling;
}

.primary-button-1 {
  @extend %button-styling;
  color: var(--textColor1);
  border: 3px solid var(--primaryColor1);
  background-color: var(--transparent);
}

.primary-button-1.active {
  background-color: var(--primaryColor1);
  color: #fff;
}

.primary-button-2 {
  @extend %button-styling;
  color: var(--textColor1);
  border: 3px solid var(--primaryColor2);
  background-color: var(--transparent);
}

.primary-button-2.active {
  background-color: var(--primaryColor2);
  color: #fff;
}

.primary-button-1.disable-button,
.primary-button-2.disable-button {
  background-color: var(--inactiveColor);
  border-color: var(--inactiveColor);
}

.slim-button {
  font-size: 1rem;
  padding: 0.5rem;
}

.primary-button-1.hide {
  display: none;
}

.file-selector-button {
  input[type='file'] {
    display: none;
  }

  label {
    cursor: pointer;
    > i,
    > div {
      color: var(--textColor1);
      font-size: 1.5rem;
      border: 3px solid var(--primaryColor2);
      background-color: var(--transparent);
      padding: 1rem;
      border-radius: 50%;
    }
  }

  label.active {
    > i,
    > div {
      background-color: var(--primaryColor2);
    }
  }

  @media screen and (max-width: 500px) {
    label.small {
      > i,
      > div {
        padding: 0.5rem;
      }
    }
  }
}

.circular-button-container {
  .circular-button {
    background-color: var(--transparent);
    outline: none;
    border: none;
    cursor: pointer;
    > i,
    > div {
      color: var(--textColor1);
      font-size: 1.5rem;
      border: 3px solid var(--primaryColor2);
      background-color: var(--transparent);
      padding: 1rem;
      border-radius: 50%;
    }
  }

  .circular-button.active {
    > i,
    > div {
      background-color: var(--primaryColor2);
    }
  }

  @media screen and (max-width: 500px) {
    .circular-button.small {
      > i,
      > div {
        padding: 0.5rem;
      }
    }
  }
}

.close-button {
  background-color: var(--transparent);
  color: var(--textColor1);
  border: none;
  outline: none;
  cursor: pointer;
}

.icon-as-button {
  background-color: var(--transparent);
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--textColor1);
  cursor: pointer;
  margin: 1rem;
}
