.logo-container {
  background: var(--primaryGradient);
  background-size: 200% 100%;
  background-clip: text;
  display: flex;
  .logo {
    -webkit-text-fill-color: var(--transparent);
  }
  animation: logo-gradient-animation 2s infinite ease-in-out;
  @keyframes logo-gradient-animation {
    0% {
      background-position: 0 0%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0 0%;
    }
  }
}
