.verify-email {
  color: var(--textColor1);
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  h1 {
    padding: 1rem 0rem;
    text-align: center;
  }

  h2 {
    padding: 1rem 0rem;
    text-align: center;
  }
}
