@import './variables.scss';
@import './pages/allPages.scss';
@import './components/allComponents.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
