.dark-theme {
  --backgroundColor: #101d25;
  --primaryColor1: #25d366;
  // --primaryColor1: #3ea2eb;
  --primaryColor2: #128c7e;
  // --primaryColor2: #0377f0;
  --inactiveColor: #807b7b;
  --textColor1: #fff;
  --textColor2: #e0e0e0;
  --textColor3: #000;
  --transparent: #ffffff00;
}

.light-theme {
  --backgroundColor: #fff;
  --textColor1: #000;
  --textColor2: #e0e0e0;
  --textColor3: #fff;
  --transparent: #ffffff00;
}
